VIRUSTOTAL_API_KEY=
GOOGLE_SAFE_BROWSING_API_KEY=
URLHAUS_AUTH_KEY=

PORT=8000
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

ML_MODEL_PATH=phishcatch_url_model.pkl
HTML_MODEL_PATH=phishcatch_html_model.pkl
HTML_BROWSER_RENDER_ENABLED=0
HTML_BROWSER_SCREENSHOT_ENABLED=0

SCANNER_CACHE_ENABLED=1
SCANNER_CACHE_TTL_SECONDS=900
SCANNER_CACHE_MAX_ENTRIES=2048
